<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.longtrang.vinid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:configChanges="locale"
        android:icon="@drawable/app_avatar"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_avatar"
        android:supportsRtl="true"
        android:theme="@style/Theme.VinID">
        <activity android:name="Activities.TopicService"></activity>
        <activity
            android:name="Activities.PersonalInformation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="Activities.PinCode"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name="Activities.ConfirmOTP"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name="Activities.PhoneNumberRegister"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name="Activities.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>